@import "tailwindcss";

:root {
    --roxo: #7C4DFF;
    --roxo-ghost-botao: #9974FF;
    --branco: #FFFFFF
}

.gradient-dark {
    background: linear-gradient(to bottom,#202020, #1D1D1D);
}

.gradient-light {
    background: linear-gradient(to bottom,#FFFFFF, #DFCCFF);
}

.gradient-card-dark {
    background-color: rgb(29, 29, 67, 0.78);
}