@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700;800&display=swap');
@import "tailwindcss";

:root {
    --roxo: #7C4DFF;
    --roxo-rgb: 124, 77, 255;
    --roxo-ghost-botao: #9974FF;
    --branco: #FFFFFF;
}

@theme {
    --Poppins: "Poppins", sans-serif;
    --Raleway: "Raleway", sans-serif;
}

.shadow-roxo {
    box-shadow: 0px 10px 80px 0px rgb(var(--roxo-rgb), 0.5);
}

.shadow-card {
    box-shadow: 0px 0px 30px 0px rgb(var(--roxo-rgb), 0.25);
}

.gradient-dark {
    background: linear-gradient(to bottom,#202020, #1D1D1D);
}

.gradient-light {
    background: linear-gradient(to bottom,#FFFFFF, #DFCCFF);
}

.gradient-card-dark {
    background-color: rgba(29, 29, 67, 0.22);
}


h1, h2 {
    font-family: var(--Raleway);
}

p {
    font-family: var(--Poppins);
}

.custom-scroll::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* remove a barra */
}

.custom-scroll {
  -ms-overflow-style: none; /* remove no Edge */
  scrollbar-width: none;    /* remove no Firefox */
}
