@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700;800&display=swap');
@import "tailwindcss";

:root {
    --roxo: #7C4DFF;
    --roxo-ghost-botao: #9974FF;
    --branco: #FFFFFF;
}

@theme {
    --Poppins: "Poppins", sans-serif;
    --Raleway: "Raleway", sans-serif;
}

.gradient-dark {
    background: linear-gradient(to bottom,#202020, #1D1D1D);
}

.gradient-light {
    background: linear-gradient(to bottom,#FFFFFF, #DFCCFF);
}

.gradient-card-dark {
    background-color: rgb(29, 29, 67, 0.78);
}


h1 {
    font-family: var(--Raleway);
}

p {
    font-family: var(--Poppins);
}